# Copyright 2023 LiveKit, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Test

on:
  schedule:
    - cron: '0 3 * * 1,5' # 03:00 each Mon and Fri
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/go/bin
            ~/.cache
          key: server-sdk-go

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Set up gotestfmt
        run: go install github.com/gotesttools/gotestfmt/v2/cmd/gotestfmt@latest

      - name: Replace mutexes
        run: |
          go get github.com/sasha-s/go-deadlock
          grep -rl sync.Mutex . | grep .go$ | xargs sed -i 's/sync\.Mutex/deadlock\.Mutex/g'
          grep -rl sync.RWMutex . | grep .go$ | xargs sed -i 's/sync\.RWMutex/deadlock\.RWMutex/g'
          go install golang.org/x/tools/cmd/goimports@latest
          grep -rl deadlock.Mutex . | grep .go$ | xargs goimports -w
          grep -rl deadlock.RWMutex . | grep .go$ | xargs goimports -w
          go mod tidy

      - name: Mage Build
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: build

      - name: Static Check
        uses: dominikh/staticcheck-action@master
        with:
          install-go: false

      - name: Mage Test
        uses: magefile/mage-action@v3
        with:
          version: latest
          args: test
        env:
          TestFlags: "-v"
